<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Resume</h2>
        <h3 class="section-subheading text-muted">Short history about work</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>May 2014</h4>
                <h4 class="subheading">inPHR Hybrid App</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  inPHR 하이브리드 앱 제작<br />
                  Ionic Framework 사용<br />
                  디자인, 퍼블리싱<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>October 2016</h4>
                <h4 class="subheading">Global E-Commerce PM</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Project Manager<br />
                  Contents Localization (CMS, JIRA)<br />
                  CHANEL, Lancôme, Kiehl's, CLARINS, Guerlain, Tag Heuer, Jaeger-LeCoultre, KOSE Addiction, KOSE Jill Stuart<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>November 2017</h4>
                <h4 class="subheading">Kumsung Publishing E-Boook</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  금성출판사 초등6학년 음악교과서<br />
                  E-Book, HTML5, CSS, Javascript<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2018</h4>
                <h4 class="subheading">KT Roaming KIOSK</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  KT 로밍 키오스크 구축<br />
                  HTML, CSS, Javascript<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>October 2018</h4>
                <h4 class="subheading">POSCO Energy</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  포스코에너지 웹사이트 리뉴얼<br />
                  HTML, CSS, Javascript<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Feburary 2019</h4>
                <h4 class="subheading">POSCO MES</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  포스코 MES 차세대<br />
                  React, Sementic UI, Datagrid<br />
                  참여율: 100%
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>