<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include skill.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    <form id="contactForm" action="https://getsimpleform.com/messages?form_api_token=eb16118f192f521972824d4423010a70" method="post" class="form-inline"></form>
          <input type="text" name="name" placeholder="Enter your name" class="form-control">
          <input type='submit' value='Test form' />
          <input type="hidden" name='redirect_to' value="/path/to/thank-you.html"/> 
        </form>
    </body>
</html>